@font-face {
    font-family: "amatic-sc-custom";
    src: url("AmaticSC-Regular.ttf");
    src: url("AmaticSC-Bold.ttf")
    }

/* header */
body {
    margin: 0;
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    color: rgb(1, 33, 63);
    font-family: 'amatic-sc-custom';
    font-size: 2.8em
}


div {
    display: block;
}

header {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align:center
}

header a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px;
text-decoration: none;
}

header h1 {
    text-align: center;
    color: rgb(0, 90, 143);
}

header p {
    color: rgb(0, 90, 143);
}

/* navbar */
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}


/* footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* content*/


content {
    width: 50%;
    margin: 3em 0 0 25%;
    display: block;
    padding: 6em 0;
    }

.section {
    margin-bottom: 5em;
    display: block;
    text-align: left;
}

.section > h1 {
    text-align: center;
    color: rgb(15, 45, 129);
}




/* box piatto */
.piatto {
    margin-top : 2em;
}

.piatto h1 {
    display: inline-block;
    margin: 0 0 6px 0;
    padding: 0;
    line-height: 1.2em;
    color: rgb(0, 0, 73);
    font-family: 'amatic-sc-custom', bold;
}
.piatto h1::after{
    content: ": ";
    white-space: pre;
}

.piatto > div {
    width: 80%;
    display: inline-block;
}


.price::before {
    content: '€';
}


.price {
    float: right;
    font-size: 1em;
    width: 20%;
    text-align: right

}

.vegan {
    color: green;
}
.vegan h1 {
    color: rgb(0, 77, 0)
}
.vegan .price {
    color: rgb(0, 77, 0)
}


/* info */
info {
    width: 100%;
    text-align: center;
    display: block;
}

footinfo {
    text-align: left
}

/* NAVIGATION MENU */
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.884);
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0em;
    left: 0em;
    display: none;
  }

  #navlinks {
    font-family: "amatic-sc-custom";
    font-size: 1em;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: .3em;
    margin: .3em 1em;
    text-decoration: none;
    display: block;
    float: left;
    clear: left;
  }
  
  /* Style the hamburger menu */
  .container {
      display: inline-block;
      cursor: pointer;
      position: fixed;
      top: 1em;
      right: 1em;
}

.bar1, .bar2, .bar3 {
  width: 55px;
  height: 5px;
  background-color: #333;
  margin: 9px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}


  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }





@media only screen and (min-resolution: 2dppx){
    /* For mobile phones: */
    content {
        width: 100%;
        margin: 0;
        display: block;
        padding: 3em 0;
    }

    .piatto {
        padding: 1em;
    }

    .piatto > div {
        width: 90%
    }

    .piatto .price {
        width: 10%
    }

    .section {
        margin-top: 10em;
    }
  }
  




  @media only screen and (max-width: 900px){
    /* For mobile phones with 1:1 ratio or small screens: */
    content {
        width: 100%;
        margin: 0;
        display: block;
        padding: 3em 0;
    }

    .piatto {
        padding: 1em;
    }
    .piatto > div {
        width: 90%
    }

    .piatto .price {
        width: 10%
    }
    .section {
        margin-top: 6em;
    }
  }